@import '~bootstrap/scss/bootstrap.scss';

*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
}

progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	 appearance: none;
	 border-radius: .25rem;
	width: 100%;
	height: 14px;
  }

progress[value]::-webkit-progress-bar {
	background-color: #e9ecef;
    border-radius: .25rem;
  }

progress[value]::-webkit-progress-value {
	@extend .bg-success;
	transition: width .2s ease;
	border-radius: .25rem;
}

.top-bar{
	background: rgb(37, 42, 58);
	-webkit-app-region: drag;
	-webkit-user-select: none;
  	-webkit-app-region: drag;
	button, a {
		-webkit-app-region: no-drag;
	  }
}
.sidebar, .campaign-details-pane,.manifest-editor-pane{
	height: calc(100vh - 56px);
	overflow-y: scroll;
}

.campaign-details-pane,.manifest-editor-pane {
	min-width: 400px;
}

.sidebar {
	min-width: 400px;
}

.campaign-item-shortname{
	font-size: 16px;
}

.campaign-item-summary{
	font-size: 14px;
}
body{
	overflow: hidden;
}
.campaign-item {
	transition: background-color 0.25s, color 0.25s;
	.campaign-thumbnail-container {
		position:static;
	}
	.campaign-item-details {
		margin-left: 72px;
	}
}